

<h4>Login Employee</h4>

<form asp-action="Login" asp-controller="Employee">
    <input type="email" name="Email" class="form-control" />
    <input type="password" name="Password" class="form-control"/>
    <input type="submit" class="btn btn-outline-primary" value="Login" />
</form>